name: Build and Deploy to Google Compute Engine

on:
  push:
    branches:
    - yourbranch # specify the branch you want the deploy to take place from

env:
  PROJECT_ID: ${{ secrets.PROJECT_ID }}
  GCE_INSTANCE: instance-docker   # TODO: name your instance
  GCE_INSTANCE_ZONE: us-central1-a   # TODO: update to instance zone if needed
  SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }} # The service account user you created
  DB_PASS: ${{ secrets.DB_PASS }}
  DB_USER: ${{ secrets.DB_USER }}
  DB_HOST: ${{ secrets.DB_HOST }}
  SERVER_PORT: 8080 # the port your server is running on

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Cloud SDK
      uses: google-github-actions/setup-gcloud@master
      with:
        version: '290.0.1' # optional, if not provided -> resolves to latest version
        service_account_key: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
        project_id: ${{ secrets.PROJECT_ID }}    

    # helper for authentication
    - name: Configure Docker to use gcloud command-line
    - run: |-
        gcloud --quiet auth configure-docker

    # Create a new instance -> MARK IT OUT AFTER FIRST DEPLOY
    - name: Create Instance #for first time setup
      run: make create

    # Create Rule To allow access to the port your app is running on.

     #ONLY INCLUDE if it doesnt already exist for SERVER_PORT !!
    - name: Create Firewall Rule
      run: make create-firewall-rule

    # Install Dependencies (So the Docker Image Has The Latest Client Version)
    - name: Install dependencies
      run: npm ci --only=production
      working-directory: ./client

    # Build production build (So the Docker Image Has The Latest Build Version)
    - name: Create production build
      run: CI=false INLINE_RUNTIME_CHUNK=false npm run build
      working-directory: ./client

    # Build the Docker image
    - name: Build image
      run: make build

    # Push the Docker image to Google Container Registry
    - name: Publish image
      run: make push

    # Deploy Container to Gcloud Instance
    - name: deploy
      run: make deploy